/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*======== CSS Variables ===========*/
:root {
    --header-height: 3.5rem;

    /*Colors*/
    --primary-color: #4a4a4a;
    --primary-color-alt: #5757575;
    --linear-gradient: linear-gradient(54deg, 
    rgba(45,45,45,0.95) 34%,
    rgba(45,45,45,0.95));
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color : #fff;
    --bg-color-alt : #e9ecef;
    --border-color : #f1f1f1;


    /*==========Font and Typography========= */
    --mono-font: 'Roboto Mono', monospace;
    --roboto-font: 'Roboto', sans-serif;
    --fs-h1: 2.75rem;
    --fs-h2: 2r.25em;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    /* =========== Font Weight ============= */
    --medium : 500;
    --semibold : 600;
    --bold : 700;
}

/*=========== Base ============== */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body, button, input, textarea{
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5em;
}

h1,h2,h3{
    font-family: var(--mono-font);
    font-weight: var(--bold);
    color: var(--title-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

textarea, input{
    background: none;
    border: none;
    outline: none;
}

/* ============= Reusable CSS =============*/
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0.9rem;
    padding-right: 0.9rem;

}

.grid{
    display: grid;
}


/*=============== Header ==============*/
.header{
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    z-index: 100;

}

.nav{
    height: calc(var(--header-height) + 0.875);
    display: flex;
    align-items: flex-end;
}

.nav__list{
    display: flex;
    column-gap: 2.5rem;
}



.nav__link{
    color: #fff;
    font-size: 0.85rem;
    font-weight: var(--bold);
    font-family: var(--mono-font);
    text-transform: uppercase;
    position: relative;
    transition: 0,3s;
}

.nav__link:hover::after {
    transform: scaleX(1); /* Expand the underline on hover */
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 149, 255, 0.7);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:hover {
    color: rgb(0, 149, 255);
    text-shadow: 0 0 8px rgba(0, 149, 255, 0.5); 
}

.nav__link:hover::after {
    transform: scaleX(1); /* Expand the underline on hover */
    background: linear-gradient(90deg, rgba(0, 149, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(0, 149, 255, 0.7)); /* Gradient effect */
}


.nav__close, .nav__toggle{
    display: none;
}

/*======Active Link ===========*/
.active-link {
    color: rgb(0, 149, 255);
    text-shadow: 0 0 8px rgba(0, 149, 255, 0.7); /* Add a more prominent text shadow for the active link */
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 149, 255, 1), rgba(255, 255, 255, 0.7), rgba(0, 149, 255, 1)); /* Gradient effect for the active link */
    transform: scaleX(1);
    transform-origin: center;

}


/*============ Home =============*/

.home{
    background: url(../Image/home-bg.jpeg);
    background-size: cover;
    background-position: 80%;
    padding-top: 6rem;
    position: relative;
    margin-bottom: 2.5rem;
}

.section__title{
    font-size: var(--fs-h2);
    font-weight: var(--semibold);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.home::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
}



.home__container{
    grid-template-columns: 10fr 25fr;
    column-gap: 1.875rem;
}

.home__img, .home__data{
    z-index: 100;
    position: relative;
}

.home__img{
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.5rem;
    transform: translateY(0.50rem);
    position: relative;
    box-shadow: 0 0 27px rgba(96 96 96/ 34%);


    display: block;

}

.home__img:hover{
    box-shadow: 10px 10px 10px 0 rgba(80, 84, 198, 0.1);
    transform: scale(1.05);
    transition: 0.3s;

}

.home__work{
    height: 50px;
    overflow: hidden;
}

.home__name,.home__work, .home__list, .home__social-link{
    color: #fff;
    font-family: var(--mono-font);
}




.home__name{
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin: 0.9em 0 0.23em;
}

.home__work{
    font-size: var(--fs-lg);
    font-weight: var(--medium);
    margin-bottom: 1.5em;
}

.home__list dt{
    float: left;
    font-weight: var(--bold);
    opacity: 0.4;
}

.home__list dd{
    padding-left: 6.25em;
}

.home__list dd, .home__list dt{
    margin-bottom: 0.5em;
}

.home__socials{
    display: flex;
    margin: 1.25rem 0 2.2rem;
}
.home__social-link{
    font-size: 2.5rem;
    line-height: 1.36em;
    margin-right: 0.25rem;
    margin-left: 1.25rem;
    opacity: 0.4;
    transition: 0.3s;
}

.home__social-link:hover{
    opacity: 1;
    color: rgb(0, 149, 255);
    text-shadow: 0 0 5px rgb(0, 149, 255);
    transform: scale(1.05);

}


.hello {
    background-color: #f8f8f8; 
    padding: 60px 20px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.section__title {
    color: #333; /* Darken the title color */
    font-size: 2rem;
    margin-bottom: 20px;
}

.hello__details {
    color: #555; /* Slightly darken the text color */
    line-height: 1.6;
}

.button {
    display: inline-flex;
    padding: 6px 10px; /* Adjust padding for a smaller button */
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Button color */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button--flex {
    align-items: center;
}

.button i {
    margin-right: 8px;
}

.button {
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

/*===========Education==========*/

.edu{
  position:relative;
  padding:10px 20px;
  margin-bottom: 20px;
  background:white;
  font-size:25px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  width: 165px;
  &:after,&:before{
    content:"";
    width:5px;
    height:5px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
    }
  &:after{
    top:-1px;
    left:-1px;
    border-top:5px solid black;
    border-left:5px solid black;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid black;
    border-right:5px solid black;
  }
  &:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
background:rgba(0,0,0,.5);
    color:white;
    &:before,&:after{
      
      width:5px;
      height:5px;
       border-color:white;
    }
  }
}


.timeline {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 3px;
}


.container-timeline {
    padding-top: 7px;
    position: relative;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    float: left;
}



.container-timeline:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}


.text-box {
    padding: 12px;
    padding-left: 65px;
    color: #fff;
}


.small {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    opacity: 0.7;
    color: whitesmoke;
}

.left-container{
    left: 0;
}

.container-timeline img{
    position: absolute;
    width: 80px;
    border-radius: 80%;
    left: -20px;
    top: 32px;
    z-index: 60;
}

.text-box h2{
    font-weight: 600;
    z-index: 100;

}

.text-box small{
    display: flexbox;
    margin-bottom: 10px;
}


.line-animation {
    position: absolute;
    height: 2px;
    width: 0;
    background-color: wheat; /* Adjust the color as needed */
    transition: width 0.5s ease-in-out;
}

.container-timeline:hover .line-animation {
    width: 100%;
}

/*=====Bangladesh======*/
.country-bangladesh{
    position: absolute;
    top: 50%;
    left: 50%;
}

.map{
    position: absolute;
    background: url(../Image/bd--map.jpeg) no-repeat;
    background-position: 0px 0px;
    background-size: auto;
    margin-top: 500px;
    margin-left: 25px;
    height: 600px;
    width: 600px;
}

.position{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 360px;
    left: 200px;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 1000;
}


.position1:hover{
    background: rgba(255, 0, 0, 0.9);
}

.marker-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(248, 241, 29, 0.75);
    border-radius: 50%;
    animation: pulse 2400ms ease-out infinite;
}

@keyframes pulse{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }

    50%{
        opacity: 0.8;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}




.things > .content {
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box;    
      box-sizing: border-box;
    position: relative;
  }
  
  .things > .content h1 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 150px;
    color: #89323B;
  }

  
  .arrow {
    position: relative;
    margin-top: 315px;
    margin-left: 150px;
    margin-right: 50px;
  }
  
  .arrow .curve {
    border: 2px solid #BE5F4B;
    border-color: transparent transparent transparent #BE5F4B;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;
  }
  
  .arrow .point {
    position: absolute;
    left: 40px;
    top: 310px;
  }
  
  .arrow .point:before, .arrow .point:after {
      border: 1px solid #BE5F4B;
      height: 25px;
      content: "";
      position: absolute;
  }
  
  .arrow .point:before {
    top: -11px;
    left: -11px;
    transform:rotate(-74deg);
    -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);

  }
  
  .arrow .point:after {
    top: -20px;
    left: 5px;
    transform:rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
  }


  
  .content-living {
    background: #F2F2F2;
    font: 14px/1.5 Arial, sans-serif;
    color: #333;
    display: inline-block;
    padding: 5px;
    margin-top: 130px;
}


/*=========== Skills ===========*/
/* Skills Section */
.skill{
    position:relative;
    padding:10px;
    margin-bottom: 20px;
    margin-top: 90px;
    background:white;
    font-size:25px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    width: 120px;
    &:after,&:before{
      content:"";
      width:5px;
      height:5px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
  background:rgba(0,0,0,.5);
      color:white;
      &:before,&:after{
        
        width:10px;
        height:10px;
         border-color:white;
      }
    }
  }


.skills__section {
    margin-top: 40px;
}

.skills__title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    size: 30px;
}

.skills__cards {
    display: grid;
    size: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 70px;
}

.skill-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(20, 104, 187, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 260px;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.skills__data {
    padding: 20px;
}


.skills__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__name {
    margin-bottom: 5px;
}

.skills__number {
    padding-left: 12px;
    color: var(--text-color-alt);
}

.skills__bar {
    height: 12px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 8px;
}

.skills__percentage {
    display: block;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(0, 149, 255, 0.7), red , rgba(0, 149, 255, 0.7));
}

.skill-card__icon {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
}

.skill-card__icon i {
    font-size: 2rem;
    color: #fff;
}

.skill-card__name {
    text-align: center;
    padding: 15px;
    font-weight: var(--semibold);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .skills__cards {
        justify-content: center;
    }
    .skill-card {
        width: 250px;

    }
}

.hard_skills {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
}

.skills__list {
    row-gap: 1.8rem;
    z-index: 100;
    flex-direction: column;
}

.skills__data {
    position: relative;
    overflow: hidden;
}

.skills__data:hover .skills__bar {
    background-image: linear-gradient(to right, #ff9a00);
    animation: barAnimation 1s ease;
}

.skills__data:hover .skills__percentage {
    animation: percentageAnimation 1s ease;
}

@keyframes barAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes percentageAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625;
}

.skills__bar,
.skills__percentage {
    height: 7px;
    border-radius: 0.25rem;
    transition: background-image 0.3s ease, width 1s ease;
}

.skills__bar {
    width: 100%;
    background-color: var(--bg-color-alt);
}

.skills__percentage {
    display: block;
    width: 0;
    background-color: var(--primary-color);
}

.skill-card.expanded {
    height: auto !important;
}

.additional-text {
    display: none;
    margin-top: 10px;
}

/* Style for the expand button */
.expand-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.ri-arrow-down-double-line {
    font-size: 1.75rem;
    color: black;
    padding-right: 3px;
}


@media screen and (max-width: 768px) {
    .skills__cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .skill-card {
        width: 100%;
    }

    .hard_skills {
        width: 100%;
    }

    .skill {
        width: 100%;
    }
    .map {
        height: 70vh;
        width: 90vw;
    }

    .position {
        width: 3vw;
        height: 3vw;
        top: 25vh;
        left: 5vw;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        background-color: #111;
        z-index: 999;
    }

    .nav__list {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav__list li {
        margin: 10px 0;
    }

    .nav__toggle {
        display: block;
    }

    .ri-menu-line {
        display: block;
    }

    .ri-close-circle-line {
        display: none;
    }

    .nav__menu.active {
        display: flex;
    }


    .nav__toggle.active {
        display: none;
    }
}